.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.signin {
  background-image: url("./Assets/backgroundApp.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.paper {
  
  padding: 20px;
  /* height: 55%;
  width: 23vW; */
  border-radius: 20px;
  /* margin-top: 50%; */
  
}
.btStyle{
  margin: '20px 0';
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
